.cardContainer {
    background-color: #0b0a06;
    display: flex;
    justify-content: space-evenly;
    align-content: space-between;
    align-items: flex-end;
}

.priceContainerUp {
    color: #34eb34;
}
.priceContainerDown {
    color: #d22525;  
}

.priceContainerEqual {
    color: #f3fcfc;
}

.timeContainer {  
}
